.flip-card-container {
  position: relative;
  height: 500px;

  .back {
    background-image: url(../../../assets/images/profile.jpg);
  }
  .front,
  .back {
    background-size: cover;
  }
  .c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    width: 45ch;
    left: 10ch;
    height: 60ch;
    cursor: pointer;
    will-change: transform, opacity;
    border-radius: 4px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  }

  .flip-card {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .flip-card-container .c {
    max-width: 260px;
    max-height: 370px;
    padding: 2rem;
    left: 0;
    right: 0;
  }
}
