@import "../../assets/colors.scss";
.MuiTab-textColorPrimary.Mui-selected {
  color: #009622 !important;
}

.academics-container {
  position: relative;
  top: 60px;
  .success {
    border: 1px solid $darkGreen;
    padding: 5px 15px;
    color: $darkGreen;
  }
  .success:hover {
    background-color: $lightGreen;
  }
  .bottom-bg {
    background-image: url("../../assets/images/academics.PNG");
    background-size: 40% 90%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: left;
  }
  .inner-academics-container {
    box-shadow: 0px 10px 30px 0px rgba(0, 150, 34, 0.1);
    border-radius: 8px;
  }
}

// mobile screen
@media only screen and (max-width: 768px) {
  .academics-container .bottom-bg {
    background-size: 100% 75%;
  }
}
