.Landing-page-container {
  padding-top: 64px;
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}
.Landing-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.Shadow-text{
  color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
.mobile-part-chart{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .recharts-wrapper.mobile-line-chart {
    left: -20px;
    position: relative;
  }
}
