.Bonanza-container {
  position: relative;
  top: 100px;
  .live-project-container {
    margin-bottom: 50px;
    .inner-project-live-music-container {
      height: 680px;
      background: linear-gradient(
        to right,
        rgb(76, 184, 196),
        rgb(60, 211, 173)
      );
      .open-new-tab-icon {
        position: cursor;
      }
    }

    .inner-project-live-profile-container {
      background: linear-gradient(to right, rgb(235, 51, 73), rgb(244, 92, 67));
    }

    .inner-project-live-tiffin-box-container {
      height: 680px;
      background: linear-gradient(
        to right,
        rgb(253, 200, 48),
        rgb(243, 115, 53)
      );
    }
  }

  .devops-container {
    margin-bottom: 50px;
    .devops-inner-container {
      background: linear-gradient(
        to right,
        rgb(86, 204, 242),
        rgb(47, 128, 237)
      );
      margin: 20px 0px;
    }
  }

  .repository-container {
    background: linear-gradient(
      to right,
      rgb(234, 205, 163),
      rgb(214, 174, 123)
    );
  }

  .modifier {
    position: relative;
    padding: 16px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
  }
  .android-apk {
    position: absolute;
    right: 16px;
  }
}
