.connect-with-me {
  padding: 32px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
  border-left: 2px solid #3f51b5;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 0px;
  background-color: rgba(63, 81, 181, 0.08);
}

@media only screen and (max-width: 768px) {
  .connect-with-me {
    padding: 16px;
    background: transparent;
    border: none;
  }
}
